.formCreate {
    justify-content: center;
    display: inline;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.formCreate h1 {
    font-size: 3rem;
}

.formCreate input {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border-style: none;
    height: 30px;
    align-items: center;
}

.formCreate select{
    font-size: 1rem;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border-style: none;
    height: 30px;
    align-items: center;
}

.formCreate button {
    background-color: rgb(57, 57, 255);
    color: white;
    border-style: none;
    border-radius: 3px;
    height: 30px;
    justify-content: center;
    width: 100%;
}

.formCreate a {
    text-decoration: none;
    color: rgb(57, 57, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}